*{
    margin: auto 0;
  }
  
  nav {
    background-color: black;
  }
  
  .main-nav {
    display: flex;
    list-style: none;
    font-size: 1em;
    margin: 0;
  }
  
  @media only screen and (max-width: 600px) {
    .main-nav {
      font-size: 0.7em;
      padding: 0;
    }
  }
  /* faz o contato ir para o lado direito da pagina */
  .push {
    margin-left: auto;
  }
  
  li {
    padding: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }