<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <title>Mobile Store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    {% include "navbar.html" %}
	<div class="center">
        <form method="POST" action="/product/productreg/">
        {% csrf_token %}
		<table id="id1" class="tableForm">
			<tr>
				<td style="width: 33.33%;">
					<div class="dash"></div>
				</td>
				<td style="padding: 0 6px;">
					<h1>Add Phone</h1>
				</td>
				<td style="width: 33.33%;">
					<div class="dash"></div>
				</td>
			</tr>
            {% if msg %}
            <tr id="tr1">
                <td colspan="3">
                    <div>
                        <span>{{ msg }}</span>
                    </div>
                </td>
            </tr>
            {% endif %}
			<tr>
				<td colspan="3">
					<div>
                        <input type="text" name="name" placeholder="Enter Mobile Name" id="id1" required />	
					</div>
				</td>
			</tr>
            <tr>
				<td colspan="3">
					<div>
                        <input type="text" name="brand" placeholder="Enter Brand Name" id="id1" required />
                    </div>
				</td>
			</tr>
            <tr>
				<td colspan="3">
					<div>
                        <input type="text" name="ram" placeholder="Enter Ram" id="id1" required />
                    </div>
				</td>
			</tr>
            <tr>
				<td colspan="3">
					<div>
                        <input type="text" name="storage" placeholder="Enter Storage" id="id1" required />
                    </div>
				</td>
			</tr>
            <tr>
				<td colspan="3">
					<div>
                        <input type="number" name="price" placeholder="Enter Price" id="id1" required />
                    </div>
				</td>
			</tr>
            <tr>
				<td colspan="3">
					<div>
                        <input type="number" name="stock" placeholder="Enter Stock" id="id1" required />
                    </div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div>
						<input type="submit" value="Submit" id="id1">
					</div>
				</td>
			</tr>
		</table>
        </form>
	</div>
</body>
</html>
