<!DOCTYPE html>
<html>
    <head>
        <title>Mobile Details</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <link rel="stylesheet" href="{% static 'phoneTable.css' %}">

    </head>
    <body>
        {% include "navbar.html" %}
        <h1>THE MOBILE STORE</h1>
        {% if res %}
            <table id="dtHorizontalExample" border="1" class="table1">
            <thead>
            <tr>
                <th class="id2">Id</th>
                <th class="id2">Name</th>
                <th class="id2">Brand</th>
                <th class="id2">Ram</th>
                <th class="id2">Storage</th>
                <th class="id2">Price</th>
                <th class="id2">Stock</th>
                <th class="id2">Availability</th>
            </tr>
        </thead>
        <tbody>
            {% for i in res %}
                {% ifequal i.stock 0 %}
                <tr align="center">
                    <td class="blur">{{ forloop.counter }}</td>
                    <td class="blur">{{ i.name }}</td>
                    <td class="blur">{{ i.brand }}</td>
                    <td class="blur">{{ i.ram }}</td>
                    <td class="blur">{{ i.storage }}</td>
                    <td class="blur">{{ i.price }}</td>
                    <td class="blur">{{ i.stock }}</td>
                    <td id="id3">Not Available</td>
                </tr>
                {% else %}
                <tr align="center">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.brand }}</td>
                    <td>{{ i.ram }}</td>
                    <td>{{ i.storage }}</td>
                    <td>{{ i.price }}</td>
                    <td>{{ i.stock }}</td>
                    <td id="id4">Available</td>
                </tr>
                {% endifequal %}
            {% endfor %}
        </tbody>
        </table>
        {% endif %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
            <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function(){
            $('table.table1').DataTable();
            });
            </script>
            
    </body>
</html>