<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Mobile Details</title>
        <!-- <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"> -->
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <link rel="stylesheet" href="{% static 'phoneTable.css' %}">
    </head>
    <body>
        {% include "navbar.html" %}
        <h1>THE MOBILE STORE</h1>
        {% if avail %}
            <table id="dtHorizontalExample" class="table1" border="1">
            <thead>
            <tr id="id2">
                <th class="id2">Id</th>
                <th class="id2">Name</th>
                <th class="id2">Brand</th>
                <th class="id2">Ram</th>
                <th class="id2">Storage</th>
                <th class="id2">Price</th>
                <th class="id2">Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for i in avail %}
            <tr align="center">
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.brand }}</td>
                <td>{{ i.ram }}</td>
                <td>{{ i.storage }}</td>
                <td>{{ i.price }}</td>
                <td>{{ i.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
            <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function(){
            $('table.table1').DataTable();
            });
            </script>
            
    </body>
</html>